.loginWrapper{
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
}
.title{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;

}

.loginForm{
    margin: 0 auto;
    max-width: 50%;
}
.rememberMeInputContainer{
    display: flex;
    margin-bottom: 15px;

}
.rememberMeCheckbox{
    margin-right: 10px;
    cursor: pointer;

}
.rememberMeText{
    font-size: 13px;
}
.button{
    font-size: 13px;
    background-color: #5181B8;
    padding: 7px 16px 8px;
    color: #FFFFFF;
    border-radius: 4px;
}
.input{
    border: 1px  solid #DCE1E6;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: #5181B8;
}