.badge{
    background-color: #FFFFFF;
    border-radius: 4px;
    display: grid;
    grid-template: 1fr / auto 1fr ;
    padding: 15px 20px;
    margin-bottom: 15px;
}
.ava{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;

}
.personal{

}
.name{
    font-size: 19px;
    padding-bottom: 15px;
}
.status{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}
.status:hover{
    background-color: #EDEEF0;
}
.inputStatus{
    padding: 5px;
    font-size: 15px;
    border: 1px solid #918CA9;
    border-radius: 5px;
}
.infoContainer{
    padding-top: 10px;
    display: flex;

}
.itemPoint{
    font-size: 15px;
    margin-bottom: 10px;
    color: #918CA9;


}
.links{
    color: black;
}
.itemAnswer{
    margin-bottom: 10px;
    font-size: 15px;
    color: #2A5885;
    cursor: pointer;
}
.list:first-child{
    width: 165px;
}

.preloaderContainer{
    display: flex;
    justify-content: center;
    background-color: white;

}
