.chatSection {
    min-height: 100%;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 15px;
    display: grid;
    grid-template: 50px 1fr auto / 1fr;
}

.head{
    border-bottom: 1px solid #DCE1E6;
    display: grid;
    grid-template: 1fr/ 148px 1fr 148px;
}
.headItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.backLink{
    font-size: 14px;
    color: #9EA6B0;
}
.companionName{
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.companionAva{
    height:  30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.chatContainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 10px 10px 0px 10px;
}
.messageContainer{
    width: 100%;
}


.newMessageContainer{
    padding: 10px 55px;
    border-top: 1px solid #DCE1E6;
    background-color: #FAFBFC;
    display: grid;
    align-items: center;
    grid-template: 1fr/ 1fr 50px;
    grid-gap: 20px;
}
.sendButton{
    align-self: center;
    margin : 0  auto;
    justify-self: center;

}