.header{
    grid-area: header;
    padding: 8px 15px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.img{
    height: 100%;
}
.loginBlock{
    display: flex;
    align-items: center;
}
.userInfo{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.fullName{
    margin-right: 10px;
}
.userAva{
    height: 100%;
    border-radius: 50%;
}
.logout{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #DCE1E6;
    border-radius: 5px;
    color: black;
}
.logout:hover{
    background-color:  #EDEEF0;
}