.header{
    grid-area: header;
    background-color: green;
    padding: 8px 15px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.img{
    height: 100%;
}
.loginBlock{
    display: flex;
    align-items: center;
}
.button{
    font-size: 13px;
    background-color: #5181B8;
    padding: 7px 16px 8px;
    color: #FFFFFF;
    border-radius: 4px;
}
.userInfo{
    height: 100%;
    display: flex;
    align-items: center;

}
.fullName{
    margin-right: 10px;
}
.userAva{
    height: 100%;
    border-radius: 50%;
}